.tabbar-container {
  position: fixed;
  height: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #c8c9cc;
  // 设置底部安全距离
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */

  display: flex;
  justify-content: space-around;
  &_item {
    margin-top: 5px;
    width: 100px;
    text-align: center;
    font-size: 20px;

    &_img {
      margin: auto;
      width: 50px;
      height: 50px;
    }

    &_text {
      margin-top: 2px;
    }
  }
}